:root {
  /* CSS HEX */
  --indigo-dye: #083d77ff;
  --beige: #ebebd3ff;
  --cerise: #da4167ff;
  --orange-yellow-crayola: #f4d35eff;
  --coral: #f78764ff;

  /* CSS HSL */
  --indigo-dye: hsla(211, 87%, 25%, 1);
  --beige: hsla(60, 37%, 87%, 1);
  --cerise: hsla(345, 67%, 55%, 1);
  --orange-yellow-crayola: hsla(47, 87%, 66%, 1);
  --coral: hsla(14, 90%, 68%, 1);
}

* {
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
