.nav_container {
  background-color: var(--indigo-dye);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--orange-yellow-crayola);
  font-size: 1.5rem;
}

.nav_items {
  display: flex;
  justify-content: space-between;
}
